@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

:root {
    --black: #182628;
    --light-green: #65CCB8;
    --green: #57BA98;
    --dark-green: #3B945E;
    --white: #F2F2F2;

}

* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

#myVideo {
    position: fixed;
    height: 100vh;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.7;
    overflow: hidden;
    object-fit: cover;
}

.main {
    background-color: var(--light-green);
}
/* ########################################################################### */
.navbar {
    background-color: transparent;
    color: var(--white);
    height: 10vh;
    width: 100%;
    padding: 2vh;
    font-weight: 500;
    /* opacity: 0.3; */
    /* position: sticky; */
    position: relative;
    top: 0;
    z-index:10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    font-size: 4vh;

}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

li {
    list-style-type: none;
    padding: 0.5vh;
    height: 5vh;
    text-align: center;
    border-radius: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

li:hover {
    background-color: var(--green);
    color: var(--black);
}

a {
    text-decoration: none;
    color: var(--bg-color);
    font-size: medium;
}

.logo {
    display: flex;
    align-items: center;
    gap: 2vh;
    text-wrap: wrap;
    overflow: hidden;
    font-family: 'Berkshire Swash', sans-serif;
    font-weight: 100;
}

.signbtn {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ########################################################################### */

.vertical-navbar {
    position: fixed;
    padding-top: 2vh;
    width: 9vh;
    height: 100%;
    top:0;
    background-color: var(--black);
    transition: width 0.3s;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    border-radius: 0 3vh;
}
.vertical-navbar .logo2{
    margin-left: 1vh;
    color: var(--light-green);
    font-size:larger;
    font-family: 'Berkshire Swash', sans-serif;
    display: flex;
    align-items: center;
    gap: 2vh;
}
.vertical-navbar:hover {
    width: 200px;
}
.vertical-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vertical-navbar .top-menu {
    flex-grow: 1;
}

.vertical-navbar li {
    width: 100%;
}

.vertical-navbar a {
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
    /* padding: 10px; */
    /* height: 50px; */
    /* transition: background 0.3s; */
}

.vertical-navbar .icon {
    /* min-width: 60px; */
    text-align: center;
    font-size: 24px;
}

.vertical-navbar .text {
    display: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vertical-navbar:hover .text {
    display: inline-block;
    margin-left: 10px;  
}
/* ########################################################################### */
input {
    position: relative;
    height: 5.5vh;
    width: 26vw;
    background-color: transparent;
    border: none;
    border-radius: 1.5vh;
    color: var(--black);

    border-bottom: 0.2vh solid var(--light-green);
}

input:hover {
    background-color: var(--white);
    color: var(--black);
    font-size: large;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    text-align: center;
    color: var(--white);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    background-color: var(--light-green);
    height: 6vh;
    width: 15vh;
    position: relative;
    border-radius: 2vh;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: var(--white);
    cursor: pointer;
    transform: scale(1.05);

}

.enquire:hover {
    background-color: var(--dark-green);
    color: var(--white);
}

.hero {
    height: 100vh;
    width: 100%;
    /* background-color: var(--light-green); */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    position: relative;
}

.card {
    height: 70vh;
    width: 30vw;
    margin: 3vh;
    padding: 3vh;
    background-color: var(--black);
    color: var(--light-green);
    border-radius: 3vh;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    transition: opacity 0.5s ease-in-out;
    animation: fadeIn 1.2s forwards;

}

.resultSection {
    display: flex;
    background-color: var(--light-green);
    border-radius: 3vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    position: relative;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);

}

.pre-load {
    /* height: 70vh;
    width: 40vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    position: relative;
}

.resultBanner {
    height: 10vh;
    width: 40vw;
    font-size: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s forwards;
    position: relative;
}

.loading {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loader {
    margin: 20vh;
    position: relative;
}

.results {
    /* height: 70vh;
    width: 40vw; */
    margin: 2vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    overflow: scroll;
    position: relative;

}

.section {
    height: 5vh;
    width: 35vw;
    position: relative;
    top: 20vh;
    margin: 2vh;
    padding: 5vh;
    box-sizing: border-box;
    background-color: var(--white);
    border-radius: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: opacity 0.5s ease-in-out;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);

}

.section.show {
    opacity: 1;
}

.fade-in {
    animation: fadeIn 1.2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.details {
    height: 75vh;
    width: 50vw;
    background-color: var(--light-green);
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transform: translateX(-50%) translateY(-50%);
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* opacity: 1; */
    /* display: none; */
    overflow: scroll;
    border-radius: 5vh;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
}

.details button {
    height: 6vh;
    width: 20vh;
    padding: 1vh;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.ngoImg {
    height: 30vh;
    width: 100%;
}

.details img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    height: 40vh;
    width: auto;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2vh;
    box-sizing: border-box;
}

#name {
    font-size: 4vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

.fields {
    position: relative;
    display: inline-block;
    width: 100%;
}

.fields .semInput {
    width: 100%;
    /* padding-left: 12vh; */
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
    color: var(--light-green)
}

.fields .types {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--green);
    transition: color 0.3s ease;
}


.fields .typeService {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background: var(--light-green);
    color: var(--black);
    border: 1px solid #ccc;
    border-radius: 3vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.fields .typeService li {
    padding: 10px;
    border-radius: 3vh;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.fields .typeService li:hover {
    background: #f0f0f0;

}

.fields .glyphicon-menu-down {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

footer {
    background-color: var(--black);
    color: var(--white);
    margin: 0;
    padding: 2vh;
    position: relative;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    position: relative;
}

footer span {
    padding: 34px 24px;
    margin-left: 50px;
    position: relative;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
    position: relative;
}

.footer a {
    font-size: 14px;
    color: white;
    position: relative;
}

footer .contact {
    padding: 34px 24px;
    position: relative;
}


.loader {
    width: 350px;
    height: 180px;
    border-radius: 10px;
    background: var(--light-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    /* box-shadow: 2px 2px 10px -5px lightgrey; */
}

.load {
    width: 100%;
    height: 10px;
    background: var(--light-green);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.load::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 10px;
    background: #002;
    border-radius: 10px;
    z-index: 1;
    animation: load 0.6s alternate infinite;
}

label {
    color: #002;
    font-size: 18px;
    animation: bit 0.6s alternate infinite;
}

@keyframes bit {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

@keyframes load {
    0% {
        left: -25%;
    }

    100% {
        left: 70%;
    }

    0% {
        left: -25%;
    }
}