.hero {
    /* background-color: var(--black); */
    /* display: grid; */
    /* grid-template-columns: 1fr 8fr 2fr;
    grid-template-rows: 1fr; */
    /* position: relative; */
    height: 90vh;
}

.main {
    background-color: var(--black);
    height: 100vh;
}

.vertical-navbar {
    background-color: var(--black);

}

.vertical-navbar .logo2 {
    color: var(--black);
}

.navigate {
    /* height: 40vh; */
    width: 15%;
    position: fixed;
    /* top:-15vh; */
    top: 25vh;
    right: 5vh;
    background-color: var(--light-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vh;
    /* grid-column: 3/4; */
    overscroll-behavior: contain;
    border-radius: 3vh;
    z-index: 10;
    display: none;
}

.anchor {
    height: 6vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 0 3vh;
    cursor: pointer;
}

.anchor:hover {
    background-color: var(--white);
}

.content {
    height: 40vh;
    width: 100vw;
    /* background-color: cadetblue; */
    /* grid-column: 2/3;
    grid-row: 1/2; */
    gap: 25vh;
    position: relative;
}

#myVideo {
    height: 100vh;
    width: 100vw;
    filter: brightness(80%);
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    object-fit: fill;
    z-index: 0;
}

#lists {
    height: 20vh;
    display: flex;
    flex-direction: column;
}

.intro {
    /* height: 70vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
}

.intro>#heading {
    font-size: 12vh;
    color: var(--light-green);
    align-self: flex-start;
}

.intro>#subheading {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 3vh;
    color: var(--white)
}

#subheading>p {
    width: 60vw;
}

.break {
    height: 20vh;
    width: 100vw;
    background-color: var(--white);
    /* position: relative; */
}

.text {
    margin: 5vh;
    padding: 5vh;
    height: 60vh;
    width: 80vw;
    box-sizing: border-box;
}

.text .n1{
    background-color: var(--light-green);
}
.cards {
    height: 60vh;
    /* width: 40vw; */
    display: flex;
    flex-direction: row;
}

.card {
    height: 50vh;
    width: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1 auto;
    overflow: hidden;
    /* animation: none; */
}

.card img {
    height: 30vh;
    width: 100%;
    position: relative;
    object-fit: contain;
}